@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Zilla+Slab:wght@700&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Zilla Slab', serif;
	margin: 0px;


}

h1 {
	font-family: 'Paytone One', sans-serif;
	text-align: center;



	


}

h2 {
	font-family: 'Paytone One', sans-serif;
	margin-bottom: 20px;
	text-align: center;
	font-size: 50px;
	color: #01386a;


}

p {
	font-size: 20px;
	text-align: center;
}

h4 {font-family: 'Zilla Slab', serif;
	margin-bottom: 120px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
}
	



a {
	text-decoration: none;
}

.banner {
	text-align: center;
}

.card-white {
	text-align: center;
}
